<app-alerta [dataAlerta]="mensaje" (boton1)="onClicBoton1($event)"></app-alerta>
<div class="container">
  <div class="row" style="margin-top:3%">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          INVESTIGADOR
        </div>
        <div class="card-body">      
            <ngb-tabset>
              <ngb-tab>
                <ng-template ngbTabTitle><fa-icon [icon]="faUser"></fa-icon>DATOS</ng-template>
                  <ng-template ngbTabContent>
                      <div class="row">
                          <div class="d-flex align-items-center">
                            <div class="col-sm">
                              <img style="height:100px;width:100px" id="photo-id"/>
                            </div>
                          </div>
                          <div class="col-sm">
                              <div class="row">
                                  <div class="col-sm">                  
                                      <div class="form-group">
                                          <label>Tipo Documento</label>
                                          <select class="form-control form-control-sm">
                                            <option>Seleccione ...</option>
                                            <option *ngFor="let tipo of listTipoDocumento" [value]="tipo.TID_CODI">
                                               {{tipo.TID_NOMB}}
                                            </option>
                                          </select>
                                        </div>       
                                  </div>                  
                                   <div class="col-sm">                  
                                      <div class="form-group">
                                          <label>* Identificaci&oacute;n</label>  
                                          <input class="form-control form-control-sm" id="exampleFormControlSelect1" />
                                        </div>                               
                                  </div>                  
                                   <div class="col-sm">       
                                      <div class="form-group">
                                          <label>* Nombres</label>                                 
                                          <input class="form-control form-control-sm" id="exampleFormControlSelect1" />
                                        </div>                 
                                    
                                  </div>                  
                                   <div class="col-sm">                  
                                      <div class="form-group">
                                          <label>* Apellidos</label>                                 
                                          <input class="form-control form-control-sm" id="exampleFormControlSelect1" />
                                        </div>                              
                                  </div>                  
                               </div>
                              
                               <div class="row">    
                                  <div class="col-sm">                   
                                      <div class="form-group">
                                          <label>* Fecha Nacimiento</label>                                 
                                          <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd"
                                                   name="dp" [(ngModel)]="fechaNacimiento" ngbDatepicker #d="ngbDatepicker">
                                            <div class="input-group-append">
                                              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                                <fa-icon [icon]="faCalendar"></fa-icon>
                                              </button>
                                            </div>
                                          </div>
                                      </div>   
                                   </div>                     
                                  <div class="col-sm">                   
                                      <div class="form-group">
                                          <label>* Teléfono</label>                                 
                                          <input class="form-control form-control-sm" id="exampleFormControlSelect1" />
                                      </div>                        
                                   </div>                    
                                   <div class="col-sm">                   
                                      <div class="form-group">
                                          <label>* Email</label>                                 
                                          <input class="form-control form-control-sm" id="exampleFormControlSelect1" />
                                      </div>   
                                   </div>                               
                               </div>  
                             </div>  
                        </div>
                      <div class="row">
                          <div class="col-sm">
                             <div class="form-group">
                                <label>* Centro</label>               
                                <select class="form-control form-control-sm"  (change)="onChangeCentro($event)">
                                 <option>Seleccione ...</option>
                                 <option *ngFor="let centro of listCentro" [value]="centro.CEN_ZONA_CODI">
                                    {{centro.CEN_NOMB}}
                                 </option>
                               </select>
                             </div>                                                     
                          </div>  
                          <div class="col-sm">
                              <div class="form-group">
                                 <label>* Zona</label>               
                                 <select class="form-control form-control-sm">
                                  <option>Seleccione ...</option>
                                  <option *ngFor="let zona of listZona" [value]="zona.ZON_CODI">
                                    {{zona.ZON_NOMB}}
                                 </option>
                                </select>
                              </div>                                                     
                           </div>  
                           <div class="col-sm">
                              <div class="form-group">
                                 <label>* Programa</label>               
                                 <select class="form-control form-control-sm">
                                  <option>Seleccione ...</option>
                                </select>
                              </div>                                                     
                           </div>  
                           <div class="col-sm">
                              <div class="form-group">
                                 <label>* Escuela</label>               
                                 <select class="form-control form-control-sm">
                                  <option>Seleccione ...</option>
                                </select>
                              </div>                                                     
                           </div>                                                           
                        </div>    
                        <div class="row">
                            <div class="col-sm">
                               <div class="form-group">
                                  <label>* Link CVLAC</label>               
                                  <input class="form-control form-control-sm" id="exampleFormControlSelect1" />
                               </div>                                                     
                            </div>                              
                             <div class="col-sm">
                                <div class="form-group">
                                   <label>* Tipo Cargo</label>               
                                   <input class="form-control form-control-sm" id="exampleFormControlSelect1" />
                                </div>                                                     
                             </div>                                                           
                          </div>                      
              
                    
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
                <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                  <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                  craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                  cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
                  yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                  shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
                  sint qui sapiente accusamus tattooed echo park.</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Disabled">
                <ng-template ngbTabContent>
                  <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
        </div>
        <div class="card-footer text-muted">
       
        </div>
      </div> 

    </div>

  </div>
</div>




