<div style="text-align: center!important">
  <form class="form-signin">
      <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Investigadores</div>
          <div class="card-body text-primary">
              <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
              <label for="inputEmail" class="sr-only">Usuario</label>
              <input type="text" id="usuario" [(ngModel)]="inv_user" class="form-control" placeholder="Usuario" required="" autofocus="" >
              <label for="inputPassword" class="sr-only">Clave</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Clave" required=""  [(ngModel)]="inv_pass">                
          </div> 
          <button type="button" class="btn btn-primary" style="margin: 10px" (click)="onClickValidarUsuario($event)">Inicar</button>      
        </div>   
  </form>
</div>