<!-- <div style="width:80%;margin-left: 10%;margin-top: 5%">
    <table data-toggle="table" data-search="true" data-height="500"  
    data-locale="es-Es" data-buttons-class="primary" data-thead-classes="thead-light"  data-detail-view="true">
      <thead>
        <tr>
          <th>Item ID</th>
          <th>Item Name</th>
          <th>Item Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Item 1</td>
          <td>$1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Item 2</td>
          <td>$2</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Item 1</td>
          <td>$1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Item 2</td>
          <td>$2</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Item 1</td>
          <td>$1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Item 2</td>
          <td>$2</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Item 1</td>
          <td>$1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Item 2</td>
          <td>$2</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Item 1</td>
          <td>$1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Item 2</td>
          <td>$2</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Item 1</td>
          <td>$1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Item 2</td>
          <td>$2</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Item 1</td>
          <td>$1</td>
        </tr>
  
    
      </tbody>
    </table>
  </div> -->
<div style="text-align: center!important">

  <form class="form-signin">
      <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Investigadores</div>
          <div class="card-body text-primary">
              <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
              <label for="inputEmail" class="sr-only">Usuario</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Usuario" required="" autofocus="">
              <label for="inputPassword" class="sr-only">Clave</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Clave" required="">                
          </div> 
          <button type="button" class="btn btn-primary" style="margin: 10px">Inicar</button>      
        </div>   
  </form>
</div>